
#head{
	padding-top: 60px;
	background: lavender
}
#head a{
	margin-left: 125px;
	text-decoration: none;
	font-size: 75px;
	color: #423149;
	
	

}
#cart{
	width: 50px;
	height: auto;
	position: relative;
	top: -60px;
	left: 80px;
}
#behind{
	text-align: center;
	padding-bottom: 20px;
}
#behind a{
	text-align: center;
	text-decoration: none;
	font-size: 60px;
	color: #423149;
}
#pics{
	text-align: center;
}
#whatsapp{
	width: 80px;
	height: auto;
	position: relative;
	left: 870px;
	top: 1030px;
}
